<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>navratri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04B89D5B20BC15340003EF0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B89D6F20BC15340003EF0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B89D7A20BC15350003EF0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
